.pending {
  color: #2196f3;
  font-weight: bolder;
}

.active {
  font-weight: bolder;
  color: #2196f3;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}
.button-group {
  padding-top: 1%;
  display: flex;
  flex-wrap: wrap;
}
.button-group .button-left {
  flex: 50%;
}
.button-group .button-right {
  flex: 50%;
  text-align: right;
}

.right {
  display: flex;
  width: 100%;
  align-items: end;
  justify-content: end;
}
.center {
  width: 100%;
  height: 100%;
  z-index: 11;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid block;
}
.error {
  color: red;
}
.link {
  color: #2196f3;
  font-weight: normal;
}
.link:hover {
  text-decoration: underline;
}
